{% extends "layout.jinja2" %}
{% block title %}title_overrides_default{% endblock %}

{% block body %}
<h2>Journal Entries</h2>
<ul>
    {% for item in entry_list %}
        <li>{{ item }}</li>
    {% endfor %}
</ul>
{% endblock %}
