<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>
<body>
<h1>This is a list templage</h1>
<ul>
    {% for item in temp_list %}
        <li>{{ item }}</li>
    {% endfor %}
</ul>
</body>
</html>